<div class="list">

<div class="page_header category">
	<div class="item active">全部职位</div>
	<div class="item">待发布</div>
	<div class="item">已发布</div>
	<div class="item">已暂停</div>
	<div class="item">已删除</div>
	<div class="clear"></div>
</div>

<div class="button">
	<div class="item btn btn-primary ftv_link" md_url="/position/create"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增</div>
	<div class="item btn btn-primary"><i class="fa fa-play"></i>&nbsp;&nbsp;发布</div>
	<div class="item btn btn-primary"><i class="fa fa-pause"></i>&nbsp;&nbsp;暂停</div>
	<div class="item btn btn-primary"><i class="fa fa-times"></i>&nbsp;&nbsp;删除</div>
	<div class="item split"></div>
	<div class="item btn btn-primary"><i class="fa fa-filter"></i>&nbsp;&nbsp;筛选</div>
	<div class="clear"></div>
</div>

<div class="filter">
</div>

<div class="mytable table_div">
<table>
	<tr>
		<td>
			<label>
				<input name="answer_type_id" type="checkbox">
				<span class="icon"></span>
			</label>
		</td>
		<td>职位名称</td>
		<td>发布日期</td>
		<td>最后更新</td>
		<td>状态</td>
		<td>负责人</td>
		<td>操作</td>
	</tr>
	<tr>
		<td colspan="7" style="padding-top:30px;padding-bottom:30px;"><img src="/image/loading.gif"></td>
	</tr>
</table>
</div>

</div>

<script>
	//localStorage.t = 1;
	//var t = 1;
	//alert(1);
</script>


