/* global */
html,body,h1,h2,h3,h4,h5,h6,p,form,ul,ol,li,dt,dl,dd,th,td,label,bottom,input,textarea {margin:0;padding:0;}
html,body {}
body {font-size:14px;font-family:"Microsoft Yahei","微软雅黑","华文细黑","宋体",Arial;color:#333333;}
ul {margin:0;padding:0;list-style:none;}
li {float:left;list-style:none;list-style-type:none;}
a{color:inherit;text-decoration:none;}
a:hover{color:#1d8bc3;text-decoration:none;}
form {background:#ffffff;}

.main_container{margin:0 auto;width:1000px;}
.corner1 {-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
.corner2 {-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.corner3 {-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.corner5 {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.transparent60 {filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
.transparent80 {filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.shadow1w {-moz-box-shadow:rgba(0,0,0,0.15) 0 1px 1px;-webkit-box-shadow:rgba(0,0,0,0.15) 0 1px 1px;box-shadow:rgba(0,0,0,0.15) 0 1px 1px;}
.shadow3w {-moz-box-shadow:0 0 3px #d1d1d1;-webkit-box-shadow:0 0 3px #d1d1d1;box-shadow:0 0 3px #d1d1d1;}
.shadow5w {-moz-box-shadow:0 0 5px #d1d1d1;-webkit-box-shadow:0 0 5px #d1d1d1;box-shadow:0 0 5px #d1d1d1;}
.shadow5b {-moz-box-shadow:0 0 5px #2f4d52;-webkit-box-shadow:0 0 5px #2f4d52;box-shadow:0 0 5px #2f4d52;}
.clear {clear:both;height:0;line-height:0;}
.hidden {display:none;}
.btn-white {border:1px solid #c6c6c6;background:#f3f3f3;}
.modal .modal-title {font-family:"Microsoft Yahei","微软雅黑","华文细黑","宋体",Arial;}

label {
    cursor: pointer;
    font-weight: normal;
}
label input[type="radio"] {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
    margin: 0; 
    padding: 0;
}
label input[type="radio"] + .icon  {
    padding-left: 18px;
    width: 18px;
    height: 18px;
    background: url('../image/icon/radio.png') no-repeat 0px 0px;
    vertical-align: -2px;
}
label input[type="radio"]:checked + .icon {
    background: url('../image/icon/radio.png') no-repeat -36px 0px;
}
label input[type="radio"] + .icon + .desc {
    vertical-align: -2px;
    margin-left: 8px;
}
label input[type="checkbox"] {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
label input[type="checkbox"] + .icon  {
    padding-left: 18px;
    width: 18px;
    height: 18px;
    background: url('../image/icon/check.png') no-repeat 0px 0px;
    vertical-align: -2px;
}
label input[type="checkbox"]:checked + .icon {
    background: url('../image/icon/check.png') no-repeat -36px 0px;
}
label input[type="checkbox"] + .icon + .desc {
    vertical-align: -1px;
    margin-left: 8px;
}

::-webkit-scrollbar {
    height:13px;
    width:13px;
    background:#d9d9d9;
	border-left:1px solid #a6a6a6;
}
::-webkit-scrollbar-button {
    height:0;
    width:0
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display:block
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display:none
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style:solid;
    border-color:transparent
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
    background-clip:padding-box;
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
    padding-top:100
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
    background-color:rgba(0,0,0,.4)
}
::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
    background-color:rgba(0,0,0,.5)
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-width:0;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.05)
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05)
}
