<!doctype html>
<html>

	<head>

		<title><%= brand %> - <%= slogan %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="HandheldFriendly" content="true">

		<%- Loader('/assets/admin.css')
			.css('/css/jquery-ui.min.css')
			.css('/css/bootstrap.min.css')
			.css('/css/font-awesome.min.css')
			.css('/css/global.css')
			.css('/css/fantview.css')
			.css('/css/admin.css')
			.done(assetsMap, '')
		%>
		
		<!--
		<script type="text/javascript" charset="utf-8">window.WEB_ROOT_URL = 'http://' + window.location.host + '/';</script>
		<script type="text/javascript" charset="utf-8">window.UEDITOR_HOME_URL = "/ueditor/";</script>
		<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
		<script type="text/javascript" src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
		<link rel="stylesheet" type="text/css" href="/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css"/> 
		-->
	</head>

	<body>
		<div class="header">
			<div class="title ftv_link" md_url="">
				<div class="logo"><img src="/image/logo.png"></div>
				<div class="text"><%= slogan %></div>
			</div>
			<div class="buttons">
				<!--<div class="item test_create ftv_link">
					<div class="item icon"><i class="fa fa-plus"></i></div>
					<div class="item">新建测评</div>
				</div>
				<div class="item test_invite ftv_link" md_url="/report/invite">
					<div class="item icon"><i class="fa fa-plus"></i></div>
					<div class="item">邀请候选人</div>
				</div>
				-->
				<div class="item ftv_link">
					<div class="item icon"><i class="fa fa-bell"></i></div>
					<div class="item">通知(0)</div>
				</div>
				<div class="item ftv_link">
					<div class="item icon"><i class="fa fa-envelope"></i></div>
					<div class="item">消息(0)</div>
				</div>
				<div class="item ftv_link user">
					<div class="item photo"><img src="/user/1/photo.jpg"></div>
					<div class="item name">黄小菜</div>
					<div class="item down"><i class="fa fa-sort-down"></i></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="page">
			<div class="page_left">
				<div class="item item_activity ftv_link" md_url="/activity">
					<div class="icon"></div>
					<div class="text">动态</div>
					<div class="clear"></div>
				</div>
				<div class="item item_task">
					<div class="icon"></div>
					<div class="text">任务</div>
					<div class="clear"></div>
				</div>
				<div class="item item_event">
					<div class="icon"></div>
					<div class="text">事件</div>
					<div class="clear"></div>
				</div>
				<div class="item item_position split ftv_link" md_url="/position">
					<div class="icon"></div>
					<div class="text">职位</div>
					<div class="clear"></div>
				</div>
				<div class="item item_resume">
					<div class="icon"></div>
					<div class="text">简历</div>
					<div class="clear"></div>
				</div>
				<div class="item item_talent">
					<div class="icon"></div>
					<div class="text">人才</div>
					<div class="clear"></div>
				</div>
				<div class="item item_test">
					<div class="icon"></div>
					<div class="text">测评</div>
					<div class="clear"></div>
				</div>
				<div class="item item_interview">
					<div class="icon"></div>
					<div class="text">面试</div>
					<div class="clear"></div>
				</div>
				<div class="item item_report">
					<div class="icon"></div>
					<div class="text">报表</div>
					<div class="clear"></div>
				</div>
				<div class="item item_setting split">
					<div class="icon"></div>
					<div class="text">设置</div>
					<div class="clear"></div>
				</div>
				<div class="version"><%= brand %>-beta<br>v1.0</div>
			</div>
			<div class="page_content"></div>
			<div class="page_right"></div>
		</div>

		<div class="loading hidden">
		</div>

		<%- Loader('/assets/admin.js')
			.js('/js/jquery.min.js')
			.js('/js/jquery-ui.min.js')
			.js('/js/bootstrap.min.js')
			.js('/js/jquery.base64.js')
			.js('/js/jquery.mousewheel.js')
			.js('/js/jquery.resize.js')
			.js('/js/global.js')
			.js('/js/fantview.js')
			.js('/js/admin.js')
			.done(assetsMap, '')
		%>

	</body>

</html>